body {
    background-image: url('/assets/images/wallpaper.jpg'); width: 100%; height: auot;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
}
.character {
    border: 3px solid green;
    height: 150px;
    width: 150px;
    background: blue;
    text-align: center;
    float: none;
    margin: 0 auto;
}

.image-container {
    height: 100px;
    width: 100px;
    background-size: cover; 
}

.pointer {
    cursor: pointer;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

#ptag {
    color: white;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}

/* .character-image img {
    height: 80px;
    width: 80px;
} */